In [1]:
import spacy
import pandas as pd
nlp =

In [4]:
df = pd.read_csv("data/stocks.tsv",sep = "\t")
df.head(10)

,Symbol,CompanyName,Industry,MarketCap
0,A,Agilent Technologies,Life Sciences Tools & Services,53.65B
1,AA,Alcoa,Metals & Mining,9.25B
2,AAC,Ares Acquisition,Shell Companies,1.22B
3,AACG,ATA Creativity Global,Diversified Consumer Services,90.35M
4,AADI,Aadi Bioscience,Pharmaceuticals,104.85M
5,AAIC,Arlington Asset Investment,Mortgage Real Estate Investment Trus...,120.92M
6,AAL,American Airlines,Airlines,12.27B
7,AAMC,Altisource Asset Management,Real Estate Management & Development,57.74M
8,AAME,Atlantic American,Insurance,80.01M
9,AAN,The Aaron's Company,Specialty Retail,857.00M

In [6]:
symbols = df.Symbol.tolist()
companies =df.CompanyName.tolist()
print(symbols[:10])
print(companies[:10])

['A', 'AA', 'AAC', 'AACG', 'AADI', 'AAIC', 'AAL', 'AAMC', 'AAME', 'AAN']
['Agilent Technologies', 'Alcoa', 'Ares Acquisition', 'ATA Creativity Global', 'Aadi Bioscience', 'Arlington Asset Investment', 'American Airlines', 'Altisource Asset Management', 'Atlantic American', "The Aaron's Company"]

In [8]:
nlp.spacy.blank("en")
ruler =nlp.add_pipe("entity_ruler")
pattern = []
for symbol in symbols:
    patterns.append({"label":"STOCK", "pattern": symbol})
for company in companies:
    patterns.append({"label":"COMPANY", "pattern": company})

NameError: name 'nlp' is not defined